<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="lookupFrequency" value="5" />
    <add key="lookupFolderPath" value="C:\Users\Bohdan\Desktop\Test" />
    <add key="pluginsPath" value="C:\Users\Bohdan\Desktop\Test\Plugins\" />
  </appSettings>
</configuration>